In [165]:
import pandas as pd
import numpy as np

In [166]:
dia = pd.read_csv('data2/diamonds.csv')
dia

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

## 데이터에 컷별 칼라별 빈도수

### crosstab()

In [188]:
dia

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [167]:
pd.crosstab(dia.cut,dia.color)

color         D     E     F     G     H     I    J
cut
Fair        163   224   312   314   303   175  119
Good        662   933   909   871   702   522  307
Ideal      2834  3903  3826  4884  3115  2093  896
Premium    1603  2337  2331  2924  2360  1428  808
Very Good  1513  2400  2164  2299  1824  1204  678

In [ ]:
pd.gro

In [246]:
pd.pivot_table(dia,index='cut',columns='color' ,aggfunc='count')['carat']

color         D     E     F     G     H     I    J
cut
Fair        163   224   312   314   303   175  119
Good        662   933   909   871   702   522  307
Ideal      2834  3903  3826  4884  3115  2093  896
Premium    1603  2337  2331  2924  2360  1428  808
Very Good  1513  2400  2164  2299  1824  1204  678

In [248]:
t = pd.pivot_table(dia,index='cut',columns='color' ,aggfunc='count')['carat']
pd.DataFrame(t.stack('color'))

                    0
cut       color
Fair      D       163
          E       224
          F       312
          G       314
          H       303
          I       175
          J       119
Good      D       662
          E       933
          F       909
          G       871
          H       702
          I       522
          J       307
Ideal     D      2834
          E      3903
          F      3826
          G      4884
          H      3115
          I      2093
          J       896
Premium   D      1603
          E      2337
          F      2331
          G      2924
          H      2360
          I      1428
          J       808
Very Good D      1513
          E      2400
          F      2164
          G      2299
          H      1824
          I      1204
          J       678

In [258]:
pd.pivot_table(dia,index='cut',columns='color' ,aggfunc='count')['carat'].reset_index().melt(id_vars='cut')

          cut color  value
0        Fair     D    163
1        Good     D    662
2       Ideal     D   2834
3     Premium     D   1603
4   Very Good     D   1513
5        Fair     E    224
6        Good     E    933
7       Ideal     E   3903
8     Premium     E   2337
9   Very Good     E   2400
10       Fair     F    312
11       Good     F    909
12      Ideal     F   3826
13    Premium     F   2331
14  Very Good     F   2164
15       Fair     G    314
16       Good     G    871
17      Ideal     G   4884
18    Premium     G   2924
19  Very Good     G   2299
20       Fair     H    303
21       Good     H    702
22      Ideal     H   3115
23    Premium     H   2360
24  Very Good     H   1824
25       Fair     I    175
26       Good     I    522
27      Ideal     I   2093
28    Premium     I   1428
29  Very Good     I   1204
30       Fair     J    119
31       Good     J    307
32      Ideal     J    896
33    Premium     J    808
34  Very Good     J    678

In [ ]:
dia.groupby(dia,index='cut'

In [168]:
crosstab = pd.crosstab(dia.cut,dia.color).reset_index()
crosstab

color        cut     D     E     F     G     H     I    J
0           Fair   163   224   312   314   303   175  119
1           Good   662   933   909   871   702   522  307
2          Ideal  2834  3903  3826  4884  3115  2093  896
3        Premium  1603  2337  2331  2924  2360  1428  808
4      Very Good  1513  2400  2164  2299  1824  1204  678

In [169]:
df = pd.melt(crosstab,id_vars='cut',value_name = 'count')
pd.melt(crosstab,id_vars='cut',value_name = 'count').head()

         cut color  count
0       Fair     D    163
1       Good     D    662
2      Ideal     D   2834
3    Premium     D   1603
4  Very Good     D   1513

In [178]:
pd.crosstab(dia.cut,dia.color)

color         D     E     F     G     H     I    J
cut
Fair        163   224   312   314   303   175  119
Good        662   933   909   871   702   522  307
Ideal      2834  3903  3826  4884  3115  2093  896
Premium    1603  2337  2331  2924  2360  1428  808
Very Good  1513  2400  2164  2299  1824  1204  678

In [192]:
df.pivot_table(index='cut',columns='color',values='count')

color         D     E     F     G     H     I    J
cut
Fair        163   224   312   314   303   175  119
Good        662   933   909   871   702   522  307
Ideal      2834  3903  3826  4884  3115  2093  896
Premium    1603  2337  2331  2924  2360  1428  808
Very Good  1513  2400  2164  2299  1824  1204  678

### groupby()

In [91]:
#컷별 컬러의 고유값들의 개수
#컷별 컬러별 개수
dia.groupby('cut')['color'].value_counts().head()

cut   color
Fair  G        314
      F        312
      H        303
      E        224
      I        175
Name: color, dtype: int64

In [230]:
dia.groupby('cut')['color'].count()

cut
Fair          1610
Good          4906
Ideal        21551
Premium      13791
Very Good    12082
Name: color, dtype: int64

In [109]:
dia.groupby('cut').nunique() # 컷별 고유값들의 빈도수

           carat  color  clarity  depth  table  price    x    y    z
cut
Fair         185      7        8    180     43   1267  397  402  300
Good         199      7        8    106     79   3086  471  473  304
Ideal        232      7        8     74     56   7281  499  495  319
Premium      251      7        8     51     22   6014  527  527  341
Very Good    231      7        8     81     85   5840  496  495  320

In [111]:
dia.groupby('cut').count() # 컷별 값들의 개수

           carat  color  clarity  depth  table  price      x      y      z
cut
Fair        1610   1610     1610   1610   1610   1610   1610   1610   1610
Good        4906   4906     4906   4906   4906   4906   4906   4906   4906
Ideal      21551  21551    21551  21551  21551  21551  21551  21551  21551
Premium    13791  13791    13791  13791  13791  13791  13791  13791  13791
Very Good  12082  12082    12082  12082  12082  12082  12082  12082  12082

In [198]:
pd.DataFrame(dia.groupby('cut')['color'].nunique())

           color
cut
Fair           7
Good           7
Ideal          7
Premium        7
Very Good      7

In [195]:
pd.DataFrame(dia.groupby('cut')['color'].count())

           color
cut
Fair        1610
Good        4906
Ideal      21551
Premium    13791
Very Good  12082

In [231]:
pd.DataFrame(dia.groupby('cut')['color'].value_counts()).head()

            color
cut  color
Fair G        314
     F        312
     H        303
     E        224
     I        175

In [237]:
dia.groupby(['cut','color']).count()

                 carat  clarity  depth  table  price     x     y     z
cut       color
Fair      D        163      163    163    163    163   163   163   163
          E        224      224    224    224    224   224   224   224
          F        312      312    312    312    312   312   312   312
          G        314      314    314    314    314   314   314   314
          H        303      303    303    303    303   303   303   303
          I        175      175    175    175    175   175   175   175
          J        119      119    119    119    119   119   119   119
Good      D        662      662    662    662    662   662   662   662
          E        933      933    933    933    933   933   933   933
          F        909      909    909    909    909   909   909   909
          G        871      871    871    871    871   871   871   871
          H        702      702    702    702    702   702   702   702
          I        522      522    522    522    522   522   522   522
          J        307      307    307    307    307   307   307   307
Ideal     D       2834     2834   2834   2834   2834  2834  2834  2834
          E       3903     3903   3903   3903   3903  3903  3903  3903
          F       3826     3826   3826   3826   3826  3826  3826  3826
          G       4884     4884   4884   4884   4884  4884  4884  4884
          H       3115     3115   3115   3115   3115  3115  3115  3115
          I       2093     2093   2093   2093   2093  2093  2093  2093
          J        896      896    896    896    896   896   896   896
Premium   D       1603     1603   1603   1603   1603  1603  1603  1603
          E       2337     2337   2337   2337   2337  2337  2337  2337
          F       2331     2331   2331   2331   2331  2331  2331  2331
          G       2924     2924   2924   2924   2924  2924  2924  2924
          H       2360     2360   2360   2360   2360  2360  2360  2360
          I       1428     1428   1428   1428   1428  1428  1428  1428
          J        808      808    808    808    808   808   808   808
Very Good D       1513     1513   1513   1513   1513  1513  1513  1513
          E       2400     2400   2400   2400   2400  2400  2400  2400
          F       2164     2164   2164   2164   2164  2164  2164  2164
          G       2299     2299   2299   2299   2299  2299  2299  2299
          H       1824     1824   1824   1824   1824  1824  1824  1824
          I       1204     1204   1204   1204   1204  1204  1204  1204
          J        678      678    678    678    678   678   678   678

In [93]:
# pd.DataFrame(dia.groupby(['cut','color'])['clarity'].value_counts()) O -> 시리즈
# pd.DataFrame(dia.groupby(['cut','color'])[['clarity','x']].value_counts())  X -> 그룹데이터프레임 지원x
group.columns = ['count']
group.reset_index().head()

    cut color  count
0  Fair     G    314
1  Fair     F    312
2  Fair     H    303
3  Fair     E    224
4  Fair     I    175

In [94]:
#컷별 칼러의 개수
pd.DataFrame(dia.groupby('cut')['color'].nunique().reset_index())

         cut  color
0       Fair      7
1       Good      7
2      Ideal      7
3    Premium      7
4  Very Good      7

## pivot

In [180]:
pd.pivot_table(dia,index='color',columns='cut')
a = pd.pivot_table(dia,index='color',columns='cut')

In [186]:
a.stack('cut').reset_index()

,color,cut,carat,depth,price,table,x,y,z
0,D,Fair,0.920123,64.048466,4291.061350,58.969325,6.018344,5.963190,3.839877
1,D,Good,0.744517,62.365710,3405.382175,58.541541,5.620076,5.633897,3.504864
2,D,Ideal,0.565766,61.678370,2629.094566,55.965632,5.186704,5.196224,3.201800
3,D,Premium,0.721547,61.169245,3631.292576,58.718964,5.599869,5.571472,3.415926
4,D,Very Good,0.696424,61.750165,3470.467284,58.041309,5.501210,5.531613,3.405089
5,E,Fair,0.856607,63.319643,3682.312500,59.364732,5.909063,5.858214,3.722143
6,E,Good,0.745134,62.203751,3423.644159,58.779957,5.617889,5.632454,3.496066
7,E,Ideal,0.578401,61.686677,2597.550090,55.967461,5.215762,5.232214,3.220346
8,E,Premium,0.717745,61.175909,3538.914420,58.779461,5.587116,5.558353,3.408875
9,E,Very Good,0.676317,61.730250,3214.652083,58.038875,5.432467,5.463213,3.373996
10,F,Fair,0.904712,63.508013,3827.003205,59.453205,5.990513,5.931122,3.787821
11,F,Good,0.775930,62.202310,3495.750275,58.910891,5.693443,5.709659,3.544609
12,F,Ideal,0.655829,61.675562,3374.939362,55.924203,5.408751,5.422250,3.338732
13,F,Premium,0.827036,61.259974,4324.890176,58.679279,5.876692,5.844655,3.588391
14,F,Very Good,0.740961,61.721627,3778.820240,57.848429,5.610504,5.642717,3.472902
15,G,Fair,1.023822,64.339809,4239.254777,58.773248,6.173822,6.114076,3.963153
16,G,Good,0.850896,62.526636,4123.482204,58.471986,5.850264,5.862824,3.647922
17,G,Ideal,0.700715,61.700164,3720.706388,55.902375,5.511214,5.524007,3.403120
18,G,Premium,0.841488,61.279480,4500.742134,58.702360,5.864254,5.833345,3.579641
19,G,Very Good,0.766799,61.841279,3872.753806,57.784428,5.660204,5.688752,3.509883
20,H,Fair,1.219175,64.585149,5135.683168,58.696370,6.579373,6.497393,4.219373
21,H,Good,0.914729,62.499573,4276.254986,58.611111,5.968789,5.974245,3.726937
22,H,Ideal,0.799525,61.733194,3889.334831,55.965843,5.731377,5.740446,3.539917
23,H,Premium,1.016449,61.322034,5216.706780,58.792034,6.244508,6.228110,3.811699
24,H,Very Good,0.915948,61.968366,4535.390351,57.903015,5.982286,6.006272,3.713849
25,I,Fair,1.198057,64.220571,4685.445714,59.237143,6.564457,6.493486,4.193486
26,I,Good,1.057222,62.475096,5078.532567,58.773946,6.253544,6.260536,3.901513
27,I,Ideal,0.913029,61.793598,4451.970377,56.021357,5.976197,5.989479,3.695270
28,I,Premium,1.144937,61.328641,5946.180672,58.771849,6.489531,6.453270,3.963894
29,I,Very Good,1.046952,61.934551,5255.879568,58.105150,6.272259,6.299028,3.890972
30,J,Fair,1.341176,64.357143,4975.655462,58.917647,6.747311,6.675882,4.319664
31,J,Good,1.099544,62.395765,4574.172638,58.813029,6.377003,6.386026,3.977459
32,J,Ideal,1.063594,61.821987,4918.186384,56.012612,6.320045,6.332098,3.912757
33,J,Premium,1.293094,61.390099,6294.591584,58.874752,6.809975,6.770644,4.168020
34,J,Very Good,1.133215,61.902065,5103.513274,58.277729,6.460782,6.495074,4.006873

In [200]:
dia

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [210]:
dia.groupby(['cut','color']).count()

                 carat  clarity  depth  table  price     x     y     z
cut       color
Fair      D        163      163    163    163    163   163   163   163
          E        224      224    224    224    224   224   224   224
          F        312      312    312    312    312   312   312   312
          G        314      314    314    314    314   314   314   314
          H        303      303    303    303    303   303   303   303
          I        175      175    175    175    175   175   175   175
          J        119      119    119    119    119   119   119   119
Good      D        662      662    662    662    662   662   662   662
          E        933      933    933    933    933   933   933   933
          F        909      909    909    909    909   909   909   909
          G        871      871    871    871    871   871   871   871
          H        702      702    702    702    702   702   702   702
          I        522      522    522    522    522   522   522   522
          J        307      307    307    307    307   307   307   307
Ideal     D       2834     2834   2834   2834   2834  2834  2834  2834
          E       3903     3903   3903   3903   3903  3903  3903  3903
          F       3826     3826   3826   3826   3826  3826  3826  3826
          G       4884     4884   4884   4884   4884  4884  4884  4884
          H       3115     3115   3115   3115   3115  3115  3115  3115
          I       2093     2093   2093   2093   2093  2093  2093  2093
          J        896      896    896    896    896   896   896   896
Premium   D       1603     1603   1603   1603   1603  1603  1603  1603
          E       2337     2337   2337   2337   2337  2337  2337  2337
          F       2331     2331   2331   2331   2331  2331  2331  2331
          G       2924     2924   2924   2924   2924  2924  2924  2924
          H       2360     2360   2360   2360   2360  2360  2360  2360
          I       1428     1428   1428   1428   1428  1428  1428  1428
          J        808      808    808    808    808   808   808   808
Very Good D       1513     1513   1513   1513   1513  1513  1513  1513
          E       2400     2400   2400   2400   2400  2400  2400  2400
          F       2164     2164   2164   2164   2164  2164  2164  2164
          G       2299     2299   2299   2299   2299  2299  2299  2299
          H       1824     1824   1824   1824   1824  1824  1824  1824
          I       1204     1204   1204   1204   1204  1204  1204  1204
          J        678      678    678    678    678   678   678   678

In [206]:
pd.DataFrame(dia.groupby('cut')['color'].value_counts()).head()

            color
cut  color
Fair G        314
     F        312
     H        303
     E        224
     I        175

In [217]:
pd.DataFrame(dia.groupby(['cut','color'])['depth'].mean())

                     depth
cut       color
Fair      D      64.048466
          E      63.319643
          F      63.508013
          G      64.339809
          H      64.585149
          I      64.220571
          J      64.357143
Good      D      62.365710
          E      62.203751
          F      62.202310
          G      62.526636
          H      62.499573
          I      62.475096
          J      62.395765
Ideal     D      61.678370
          E      61.686677
          F      61.675562
          G      61.700164
          H      61.733194
          I      61.793598
          J      61.821987
Premium   D      61.169245
          E      61.175909
          F      61.259974
          G      61.279480
          H      61.322034
          I      61.328641
          J      61.390099
Very Good D      61.750165
          E      61.730250
          F      61.721627
          G      61.841279
          H      61.968366
          I      61.934551
          J      61.902065

In [224]:
dt = pd.pivot_table(dia, index = 'color', columns='cut', values='depth', aggfunc = np.mean)
pd.DataFrame(dt.stack('cut')).reset_index()

   color        cut          0
0      D       Fair  64.048466
1      D       Good  62.365710
2      D      Ideal  61.678370
3      D    Premium  61.169245
4      D  Very Good  61.750165
5      E       Fair  63.319643
6      E       Good  62.203751
7      E      Ideal  61.686677
8      E    Premium  61.175909
9      E  Very Good  61.730250
10     F       Fair  63.508013
11     F       Good  62.202310
12     F      Ideal  61.675562
13     F    Premium  61.259974
14     F  Very Good  61.721627
15     G       Fair  64.339809
16     G       Good  62.526636
17     G      Ideal  61.700164
18     G    Premium  61.279480
19     G  Very Good  61.841279
20     H       Fair  64.585149
21     H       Good  62.499573
22     H      Ideal  61.733194
23     H    Premium  61.322034
24     H  Very Good  61.968366
25     I       Fair  64.220571
26     I       Good  62.475096
27     I      Ideal  61.793598
28     I    Premium  61.328641
29     I  Very Good  61.934551
30     J       Fair  64.357143
31     J       Good  62.395765
32     J      Ideal  61.821987
33     J    Premium  61.390099
34     J  Very Good  61.902065

### 크로스탭, 피벗 ,그룹바이

In [259]:
pd.crosstab(dia.color,dia.cut)

cut    Fair  Good  Ideal  Premium  Very Good
color
D       163   662   2834     1603       1513
E       224   933   3903     2337       2400
F       312   909   3826     2331       2164
G       314   871   4884     2924       2299
H       303   702   3115     2360       1824
I       175   522   2093     1428       1204
J       119   307    896      808        678

In [281]:
pd.pivot_table(dia,index= 'color', columns='cut', values='price', aggfunc='count')

cut    Fair  Good  Ideal  Premium  Very Good
color
D       163   662   2834     1603       1513
E       224   933   3903     2337       2400
F       312   909   3826     2331       2164
G       314   871   4884     2924       2299
H       303   702   3115     2360       1824
I       175   522   2093     1428       1204
J       119   307    896      808        678

In [279]:
pd.pivot_table(dia,index= 'color', columns='cut', values='price', aggfunc='count').stack().reset_index()

   color        cut     0
0      D       Fair   163
1      D       Good   662
2      D      Ideal  2834
3      D    Premium  1603
4      D  Very Good  1513
5      E       Fair   224
6      E       Good   933
7      E      Ideal  3903
8      E    Premium  2337
9      E  Very Good  2400
10     F       Fair   312
11     F       Good   909
12     F      Ideal  3826
13     F    Premium  2331
14     F  Very Good  2164
15     G       Fair   314
16     G       Good   871
17     G      Ideal  4884
18     G    Premium  2924
19     G  Very Good  2299
20     H       Fair   303
21     H       Good   702
22     H      Ideal  3115
23     H    Premium  2360
24     H  Very Good  1824
25     I       Fair   175
26     I       Good   522
27     I      Ideal  2093
28     I    Premium  1428
29     I  Very Good  1204
30     J       Fair   119
31     J       Good   307
32     J      Ideal   896
33     J    Premium   808
34     J  Very Good   678

In [277]:
pd.pivot_table(dia,index= 'color', columns='cut', values='price', aggfunc='count').reset_index().melt(id_vars='color')

   color        cut  value
0      D       Fair    163
1      E       Fair    224
2      F       Fair    312
3      G       Fair    314
4      H       Fair    303
5      I       Fair    175
6      J       Fair    119
7      D       Good    662
8      E       Good    933
9      F       Good    909
10     G       Good    871
11     H       Good    702
12     I       Good    522
13     J       Good    307
14     D      Ideal   2834
15     E      Ideal   3903
16     F      Ideal   3826
17     G      Ideal   4884
18     H      Ideal   3115
19     I      Ideal   2093
20     J      Ideal    896
21     D    Premium   1603
22     E    Premium   2337
23     F    Premium   2331
24     G    Premium   2924
25     H    Premium   2360
26     I    Premium   1428
27     J    Premium    808
28     D  Very Good   1513
29     E  Very Good   2400
30     F  Very Good   2164
31     G  Very Good   2299
32     H  Very Good   1824
33     I  Very Good   1204
34     J  Very Good    678

In [309]:
dia.groupby(['color','cut'])['price'].count().reset_index()

   color        cut  price
0      D       Fair    163
1      D       Good    662
2      D      Ideal   2834
3      D    Premium   1603
4      D  Very Good   1513
5      E       Fair    224
6      E       Good    933
7      E      Ideal   3903
8      E    Premium   2337
9      E  Very Good   2400
10     F       Fair    312
11     F       Good    909
12     F      Ideal   3826
13     F    Premium   2331
14     F  Very Good   2164
15     G       Fair    314
16     G       Good    871
17     G      Ideal   4884
18     G    Premium   2924
19     G  Very Good   2299
20     H       Fair    303
21     H       Good    702
22     H      Ideal   3115
23     H    Premium   2360
24     H  Very Good   1824
25     I       Fair    175
26     I       Good    522
27     I      Ideal   2093
28     I    Premium   1428
29     I  Very Good   1204
30     J       Fair    119
31     J       Good    307
32     J      Ideal    896
33     J    Premium    808
34     J  Very Good    678

In [305]:
pd.pivot_table(dia,index= 'color', 
               columns='cut', values='price',
               aggfunc='count').stack('cut').reset_index()

   color        cut     0
0      D       Fair   163
1      D       Good   662
2      D      Ideal  2834
3      D    Premium  1603
4      D  Very Good  1513
5      E       Fair   224
6      E       Good   933
7      E      Ideal  3903
8      E    Premium  2337
9      E  Very Good  2400
10     F       Fair   312
11     F       Good   909
12     F      Ideal  3826
13     F    Premium  2331
14     F  Very Good  2164
15     G       Fair   314
16     G       Good   871
17     G      Ideal  4884
18     G    Premium  2924
19     G  Very Good  2299
20     H       Fair   303
21     H       Good   702
22     H      Ideal  3115
23     H    Premium  2360
24     H  Very Good  1824
25     I       Fair   175
26     I       Good   522
27     I      Ideal  2093
28     I    Premium  1428
29     I  Very Good  1204
30     J       Fair   119
31     J       Good   307
32     J      Ideal   896
33     J    Premium   808
34     J  Very Good   678

In [304]:
pd.pivot_table(dia,index= 'color', columns='cut',
               values='price', 
               aggfunc='count').reset_index().melt(id_vars='color')

   color        cut  value
0      D       Fair    163
1      E       Fair    224
2      F       Fair    312
3      G       Fair    314
4      H       Fair    303
5      I       Fair    175
6      J       Fair    119
7      D       Good    662
8      E       Good    933
9      F       Good    909
10     G       Good    871
11     H       Good    702
12     I       Good    522
13     J       Good    307
14     D      Ideal   2834
15     E      Ideal   3903
16     F      Ideal   3826
17     G      Ideal   4884
18     H      Ideal   3115
19     I      Ideal   2093
20     J      Ideal    896
21     D    Premium   1603
22     E    Premium   2337
23     F    Premium   2331
24     G    Premium   2924
25     H    Premium   2360
26     I    Premium   1428
27     J    Premium    808
28     D  Very Good   1513
29     E  Very Good   2400
30     F  Very Good   2164
31     G  Very Good   2299
32     H  Very Good   1824
33     I  Very Good   1204
34     J  Very Good    678

In [292]:
dia.groupby(['color','cut'])['price'].count().reset_index()

color  cut
D      Fair          163
       Good          662
       Ideal        2834
       Premium      1603
       Very Good    1513
E      Fair          224
       Good          933
       Ideal        3903
       Premium      2337
       Very Good    2400
F      Fair          312
       Good          909
       Ideal        3826
       Premium      2331
       Very Good    2164
G      Fair          314
       Good          871
       Ideal        4884
       Premium      2924
       Very Good    2299
H      Fair          303
       Good          702
       Ideal        3115
       Premium      2360
       Very Good    1824
I      Fair          175
       Good          522
       Ideal        2093
       Premium      1428
       Very Good    1204
J      Fair          119
       Good          307
       Ideal         896
       Premium       808
       Very Good     678
Name: price, dtype: int64

In [310]:
dia.groupby(['color','cut'])['price'].count().reset_index()

   color        cut  price
0      D       Fair    163
1      D       Good    662
2      D      Ideal   2834
3      D    Premium   1603
4      D  Very Good   1513
5      E       Fair    224
6      E       Good    933
7      E      Ideal   3903
8      E    Premium   2337
9      E  Very Good   2400
10     F       Fair    312
11     F       Good    909
12     F      Ideal   3826
13     F    Premium   2331
14     F  Very Good   2164
15     G       Fair    314
16     G       Good    871
17     G      Ideal   4884
18     G    Premium   2924
19     G  Very Good   2299
20     H       Fair    303
21     H       Good    702
22     H      Ideal   3115
23     H    Premium   2360
24     H  Very Good   1824
25     I       Fair    175
26     I       Good    522
27     I      Ideal   2093
28     I    Premium   1428
29     I  Very Good   1204
30     J       Fair    119
31     J       Good    307
32     J      Ideal    896
33     J    Premium    808
34     J  Very Good    678

In [311]:
pd.pivot_table(dia,index= 'color', columns='cut',
               values='price', 
               aggfunc='count').reset_index().melt(id_vars='color')

   color        cut  value
0      D       Fair    163
1      E       Fair    224
2      F       Fair    312
3      G       Fair    314
4      H       Fair    303
5      I       Fair    175
6      J       Fair    119
7      D       Good    662
8      E       Good    933
9      F       Good    909
10     G       Good    871
11     H       Good    702
12     I       Good    522
13     J       Good    307
14     D      Ideal   2834
15     E      Ideal   3903
16     F      Ideal   3826
17     G      Ideal   4884
18     H      Ideal   3115
19     I      Ideal   2093
20     J      Ideal    896
21     D    Premium   1603
22     E    Premium   2337
23     F    Premium   2331
24     G    Premium   2924
25     H    Premium   2360
26     I    Premium   1428
27     J    Premium    808
28     D  Very Good   1513
29     E  Very Good   2400
30     F  Very Good   2164
31     G  Very Good   2299
32     H  Very Good   1824
33     I  Very Good   1204
34     J  Very Good    678

In [312]:
pd.pivot_table(dia,index= 'color', 
               columns='cut', values='price',
               aggfunc='count').stack('cut').reset_index()

   color        cut     0
0      D       Fair   163
1      D       Good   662
2      D      Ideal  2834
3      D    Premium  1603
4      D  Very Good  1513
5      E       Fair   224
6      E       Good   933
7      E      Ideal  3903
8      E    Premium  2337
9      E  Very Good  2400
10     F       Fair   312
11     F       Good   909
12     F      Ideal  3826
13     F    Premium  2331
14     F  Very Good  2164
15     G       Fair   314
16     G       Good   871
17     G      Ideal  4884
18     G    Premium  2924
19     G  Very Good  2299
20     H       Fair   303
21     H       Good   702
22     H      Ideal  3115
23     H    Premium  2360
24     H  Very Good  1824
25     I       Fair   175
26     I       Good   522
27     I      Ideal  2093
28     I    Premium  1428
29     I  Very Good  1204
30     J       Fair   119
31     J       Good   307
32     J      Ideal   896
33     J    Premium   808
34     J  Very Good   678