문제 1. 자료가 수집된 지역의 평균온도는 20도라고 한다. 수집된 데이터를 사용하여 양측검정을 실시했을 때 .p-value?

In [13]:
import pandas as pd
from scipy import stats

In [14]:
bike = pd.read_csv('data2/bike.csv')

In [15]:
bike.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [16]:
stat,p = stats.ttest_1samp(bike['temp'], popmean=20)

In [17]:
print(p) #답 2

0.0019971246609168593

문제 2. 2011년 1월의 데이터를 대상으로 동 시간대의 casual과 registered의 평균 차이 검정시 통계량은>

In [18]:
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [19]:
bike.datetime = bike['datetime']

In [20]:
bike['month'] = bike['datetime'].str.slice(0,7)

In [21]:
bike['month']

0        2011-01
1        2011-01
2        2011-01
3        2011-01
4        2011-01
          ...
10881    2012-12
10882    2012-12
10883    2012-12
10884    2012-12
10885    2012-12
Name: month, Length: 10886, dtype: object

In [22]:
bike_1 =bike[bike['month'].isin(['2011-01'])]

In [23]:
stats.ttest_rel(bike_1['casual'],bike_1['registered']) 답#21

Ttest_relResult(statistic=-21.409875120262452, pvalue=9.427438846135679e-70)

문제 03. 주중과 주말의 registered 평균 검정 시 검정 통계량

In [24]:
bike['datetime']= pd.to_datetime(bike['datetime'])

In [30]:
bike['day_of_week'] = bike['datetime'].dt.dayofweek

In [33]:
bike['day_of_week'].value_counts() #5,6 주말

5    1584
6    1579
3    1553
0    1551
2    1551
1    1539
4    1529
Name: day_of_week, dtype: int64

In [35]:
import numpy as np
bike['dist'] = np.where(bike['day_of_week']>=5 ,1,0)

In [38]:
bike_s = bike.loc[bike['dist']==1,:]

In [39]:
bike_m = bike.loc[bike['dist']==0,:]

In [40]:
stats.ttest_ind(bike_s['registered'],bike_m['registered']) #답 -12

Ttest_indResult(statistic=-12.073330032201106, pvalue=2.3856774433804352e-33)