In [13]:
import pandas as pd
import numpy as np
import seaborn as sns

tips = sns.load_dataset("tips")
titanic = sns.load_dataset('titanic')
penguins = sns.load_dataset("penguins")
iris = sns.load_dataset("iris")
dia = sns.load_dataset("diamonds")

In [21]:
from scipy import stats

In [36]:
titanic.dropna(inplace=True)
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [31]:
titanic_male = titanic.loc[titanic["sex"]=='male','fare']
titanic_female = titanic.loc[titanic["sex"]=='female','fare']

In [32]:
F = titanic_male.var()/titanic_female.var() # 검정통계량 : 두 집단의 분산 비
F

1.5307328159610647

In [33]:
result = stats.f.cdf(F,
                     dfd= len(titanic_male)-1,
                     dfn= len(titanic_female))

result # 4.623450269723804e-09

0.9781554104742716

In [34]:
result

0.9781554104742716

In [35]:
p = (1-result)*2
p

0.04368917905145686

In [37]:
stats.bartlett(titanic_male,titanic_female)

BartlettResult(statistic=4.002323776696317, pvalue=0.04543757795200932)

In [38]:
stats.levene(titanic_male,titanic_female)

LeveneResult(statistic=0.32927286615084844, pvalue=0.5668038674340209)