In [40]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('data2/iris_missing.csv')

In [5]:
df

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
0             5.1          NaN           NaN          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2        NaN
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2        NaN
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           NaN          2.5           NaN          NaN  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          NaN  virginica

[150 rows x 5 columns]

In [7]:
df['Sepal_Length'].quantile(q=0.25)

5.1

In [8]:
df.describe()

       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count    143.000000   137.000000    136.000000   144.000000
mean       5.853846     3.070073      3.811765     1.190972
std        0.823576     0.438642      1.749965     0.768243
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

문제 1번 : 수치형 변수제외 결측치 개수 (iris_missing)

In [26]:
df.iloc[:,:-1].isna().sum().sum()

40

문제 2번: sepal_width 변수의 결측치를 평균으로 대치한 값의 분산은?

In [29]:
df['Sepal_Width'].mean()

3.070072992700731

In [31]:
df['Sepal_Width'] = df['Sepal_Width'].fillna(df['Sepal_Width'].mean())

In [34]:
round(df['Sepal_Width'].var(),3) #답: 0.176

0.176

문데 3번: 평균을 기준으로 1.5 표준편차를 넘어서는 값을 이상치라고 간주할 때 Sepql.Length변수를 기준으로 이상치인 row 개수 (iris)

In [61]:
df= pd.read_csv('data2/iris.csv')
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [62]:
df['Sepal.Length'].mean() - 1.5*df['Sepal.Length'].std()

4.60123414136654

In [63]:
df['Sepal.Length'].mean() + 1.5*df['Sepal.Length'].std()

7.08543252530013

In [64]:
df['out_Sepal_Length'] = np.where((df['Sepal.Length']>(df['Sepal.Length'].mean() + 1.5*df['Sepal.Length'].std())) |
                                  (df['Sepal.Length']<(df['Sepal.Length'].mean() - 1.5*df['Sepal.Length'].std())),1,0)

In [66]:
df['out_Sepal_Length'].value_counts() #답 21

0    129
1     21
Name: out_Sepal_Length, dtype: int64