In [5]:
import pandas as pd
df = pd.read_csv('data2/bike.csv')

문제01.workinday가 아니면서 holiday가 아닌 날의 비율

In [10]:
df.groupby(['workingday','holiday']).count().reset_index()

,workingday,holiday,datetime,season,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,0,0,3163,3163,3163,3163,3163,3163,3163,3163,3163,3163
1,0,1,311,311,311,311,311,311,311,311,311,311
2,1,0,7412,7412,7412,7412,7412,7412,7412,7412,7412,7412

In [12]:
pd.crosstab(df['workingday'],df['holiday'],normalize=True) #답 0.290557

holiday            0         1
workingday
0           0.290557  0.028569
1           0.680875  0.000000

문제02. 가장 많은 데이터가 있는 세공 수준과 색상조합을 순서대로 고르면?

In [14]:
dia = pd.read_csv('data2/diamonds.csv')

In [21]:
dia_melt = pd.crosstab(dia.color,dia.cut).reset_index().melt(id_vars='color')

In [24]:
dia_melt.iloc[[dia_melt['value'].idxmax()],:] #답 G,Ideal

   color    cut  value
17     G  Ideal   4884

문제 03. 세공수준별 색상별 가격과 케럿의 평균을 구하고 1캐럿당 가격이 가장 높은 세공수준과 색상 조합을 순서대로 고르면?

In [27]:
dia_group = dia.groupby(['color','cut'])[['price','carat']].mean()

In [28]:
dia_group['ratio'] = dia_group['price']/dia_group['carat']

In [39]:
dia_group.sort_values(by='ratio',ascending=False) #답 Premium ,G

                       price     carat        ratio
color cut
G     Premium    4500.742134  0.841488  5348.553755
      Ideal      3720.706388  0.700715  5309.874382
F     Premium    4324.890176  0.827036  5229.388117
I     Premium    5946.180672  1.144937  5193.456761
F     Ideal      3374.939362  0.655829  5146.069664
H     Premium    5216.706780  1.016449  5132.285040
F     Very Good  3778.820240  0.740961  5099.889612
G     Very Good  3872.753806  0.766799  5050.548821
D     Premium    3631.292576  0.721547  5032.648015
I     Very Good  5255.879568  1.046952  5020.173260
D     Very Good  3470.467284  0.696424  4983.265477
H     Very Good  4535.390351  0.915948  4951.578090
E     Premium    3538.914420  0.717745  4930.601477
I     Ideal      4451.970377  0.913029  4876.044103
J     Premium    6294.591584  1.293094  4867.852836
H     Ideal      3889.334831  0.799525  4864.557602
G     Good       4123.482204  0.850896  4846.049951
I     Good       5078.532567  1.057222  4803.656658
E     Very Good  3214.652083  0.676317  4753.175904
H     Good       4276.254986  0.914729  4674.885539
D     Fair       4291.061350  0.920123  4663.575143
      Ideal      2629.094566  0.565766  4646.967032
J     Ideal      4918.186384  1.063594  4624.121178
E     Good       3423.644159  0.745134  4594.669237
D     Good       3405.382175  0.744517  4573.950535
F     Good       3495.750275  0.775930  4505.241592
J     Very Good  5103.513274  1.133215  4503.568825
E     Ideal      2597.550090  0.578401  4490.913843
      Fair       3682.312500  0.856607  4298.717949
F     Fair       3827.003205  0.904712  4230.081128
H     Fair       5135.683168  1.219175  4212.425219
J     Good       4574.172638  1.099544  4160.063396
G     Fair       4239.254777  1.023822  4140.618390
I     Fair       4685.445714  1.198057  3910.869980
J     Fair       4975.655462  1.341176  3709.918546